
      <form role="form" method="POST" action="{{ url_for('submit_config') }}">

        <input type="hidden" id="id_" name="id_" value="{{ connections.id }}">

        <div class="panel panel-default">

          <div class="panel-heading">
            <label class="panel-title control-label" for="date-time">Time stamp</label>
          </div>

          <div class="panel-body">

            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <div class="form-group">
                  <div class="input-group date" id="datetimepicker">
                    <input type="text" class="form-control" id="date-time" name="date-time" required>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title">CAEN board 7</h3>
          </div>

          <div class="panel-body row">

            <div class="col-sm-6">

              <div class="form-group form-group-sm">

                <label class="col-sm-4 control-label" for="caen_board_7_channel_32">Channel 32</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_32" name="caen_board_7_channel_32" placeholder="{{ connections.caen_board_7_channel_32 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_33">Channel 33</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_33" name="caen_board_7_channel_33" placeholder="{{ connections.caen_board_7_channel_33 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_34">Channel 34</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_34" name="caen_board_7_channel_34" placeholder="{{ connections.caen_board_7_channel_34 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_35">Channel 35</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_35" name="caen_board_7_channel_35" placeholder="{{ connections.caen_board_7_channel_35 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_36">Channel 36</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_36" name="caen_board_7_channel_36" placeholder="{{ connections.caen_board_7_channel_36 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_37">Channel 37</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_37" name="caen_board_7_channel_37" placeholder="{{ connections.caen_board_7_channel_37 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_38">Channel 38</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_38" name="caen_board_7_channel_38" placeholder="{{ connections.caen_board_7_channel_38 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_39">Channel 39</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_39" name="caen_board_7_channel_39" placeholder="{{ connections.caen_board_7_channel_39 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_40">Channel 40</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_40" name="caen_board_7_channel_40" placeholder="{{ connections.caen_board_7_channel_40 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_41">Channel 41</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_41" name="caen_board_7_channel_41" placeholder="{{ connections.caen_board_7_channel_41 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_42">Channel 42</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_42" name="caen_board_7_channel_42" placeholder="{{ connections.caen_board_7_channel_42 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_43">Channel 43</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_43" name="caen_board_7_channel_43" placeholder="{{ connections.caen_board_7_channel_43 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_44">Channel 44</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_44" name="caen_board_7_channel_44" placeholder="{{ connections.caen_board_7_channel_44 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_45">Channel 45</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_45" name="caen_board_7_channel_45" placeholder="{{ connections.caen_board_7_channel_45 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_46">Channel 46</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_46" name="caen_board_7_channel_46" placeholder="{{ connections.caen_board_7_channel_46 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_47">Channel 47</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_47" name="caen_board_7_channel_47" placeholder="{{ connections.caen_board_7_channel_47 }}">
                </div>

              </div>

            </div>

            <div class="col-sm-6">

              <div class="form-group form-group-sm">

                <label class="col-sm-4 control-label" for="caen_board_7_channel_48">Channel 48</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_48" name="caen_board_7_channel_48" placeholder="{{ connections.caen_board_7_channel_48 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_49">Channel 49</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_49" name="caen_board_7_channel_49" placeholder="{{ connections.caen_board_7_channel_49 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_50">Channel 50</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_50" name="caen_board_7_channel_50" placeholder="{{ connections.caen_board_7_channel_50 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_51">Channel 51</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_51" name="caen_board_7_channel_51" placeholder="{{ connections.caen_board_7_channel_51 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_52">Channel 52</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_52" name="caen_board_7_channel_52" placeholder="{{ connections.caen_board_7_channel_52 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_53">Channel 53</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_53" name="caen_board_7_channel_53" placeholder="{{ connections.caen_board_7_channel_53 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_54">Channel 54</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_54" name="caen_board_7_channel_54" placeholder="{{ connections.caen_board_7_channel_54 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_55">Channel 55</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_55" name="caen_board_7_channel_55" placeholder="{{ connections.caen_board_7_channel_55 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_56">Channel 56</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_56" name="caen_board_7_channel_56" placeholder="{{ connections.caen_board_7_channel_56 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_57">Channel 57</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_57" name="caen_board_7_channel_57" placeholder="{{ connections.caen_board_7_channel_57 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_58">Channel 58</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_58" name="caen_board_7_channel_58" placeholder="{{ connections.caen_board_7_channel_58 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_59">Channel 59</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_59" name="caen_board_7_channel_59" placeholder="{{ connections.caen_board_7_channel_59 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_60">Channel 60</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_60" name="caen_board_7_channel_60" placeholder="{{ connections.caen_board_7_channel_60 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_61">Channel 61</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_61" name="caen_board_7_channel_61" placeholder="{{ connections.caen_board_7_channel_61 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_62">Channel 62</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_62" name="caen_board_7_channel_62" placeholder="{{ connections.caen_board_7_channel_62 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_7_channel_63">Channel 63</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_7_channel_63" name="caen_board_7_channel_63" placeholder="{{ connections.caen_board_7_channel_63 }}">
                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title">CAEN board 8</h3>
          </div>

          <div class="panel-body row">

            <div class="col-sm-6">

              <div class="form-group form-group-sm">

                <label class="col-sm-4 control-label" for="caen_board_8_channel_0">Channel 0</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_8_channel_0" name="caen_board_8_channel_0" placeholder="{{ connections.caen_board_8_channel_0 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_8_channel_1">Channel 1</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_8_channel_1" name="caen_board_8_channel_1" placeholder="{{ connections.caen_board_8_channel_1 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_8_channel_2">Channel 2</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_8_channel_2" name="caen_board_8_channel_2" placeholder="{{ connections.caen_board_8_channel_2 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_8_channel_3">Channel 3</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_8_channel_3" name="caen_board_8_channel_3" placeholder="{{ connections.caen_board_8_channel_3 }}">
                </div>

              </div>

            </div>

            <div class="col-sm-6">

              <div class="form-group form-group-sm">

                <label class="col-sm-4 control-label" for="caen_board_8_channel_4">Channel 4</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_8_channel_4" name="caen_board_8_channel_4" placeholder="{{ connections.caen_board_8_channel_4 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_8_channel_5">Channel 5</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_8_channel_5" name="caen_board_8_channel_5" placeholder="{{ connections.caen_board_8_channel_5 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_8_channel_6">Channel 6</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_8_channel_6" name="caen_board_8_channel_6" placeholder="{{ connections.caen_board_8_channel_6 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_8_channel_7">Channel 7</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_8_channel_7" name="caen_board_8_channel_7" placeholder="{{ connections.caen_board_8_channel_7 }}">
                </div>

              </div>

            </div>

          </div>
        </div>

        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title">CAEN board 9</h3>
          </div>

          <div class="panel-body row">

            <div class="col-sm-6">

              <div class="form-group form-group-sm">

                <label class="col-sm-4 control-label" for="caen_board_9_channel_0">Channel 0</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_9_channel_0" name="caen_board_9_channel_0" placeholder="{{ connections.caen_board_9_channel_0 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_9_channel_1">Channel 1</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_9_channel_1" name="caen_board_9_channel_1" placeholder="{{ connections.caen_board_9_channel_1 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_9_channel_2">Channel 2</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_9_channel_2" name="caen_board_9_channel_2" placeholder="{{ connections.caen_board_9_channel_2 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_9_channel_3">Channel 3</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_9_channel_3" name="caen_board_9_channel_3" placeholder="{{ connections.caen_board_9_channel_3 }}">
                </div>

              </div>

            </div>

            <div class="col-sm-6">

              <div class="form-group form-group-sm">

                <label class="col-sm-4 control-label" for="caen_board_9_channel_4">Channel 4</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_9_channel_4" name="caen_board_9_channel_4" placeholder="{{ connections.caen_board_9_channel_4 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_9_channel_5">Channel 5</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_9_channel_5" name="caen_board_9_channel_5" placeholder="{{ connections.caen_board_9_channel_5 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_9_channel_6">Channel 6</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_9_channel_6" name="caen_board_9_channel_6" placeholder="{{ connections.caen_board_9_channel_6 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_9_channel_7">Channel 7</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_9_channel_7" name="caen_board_9_channel_7" placeholder="{{ connections.caen_board_9_channel_7 }}">
                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title">CAEN board 24</h3>
          </div>

          <div class="panel-body row">

            <div class="col-sm-6">

              <div class="form-group form-group-sm">

                <label class="col-sm-4 control-label" for="caen_board_24_channel_0">Channel 0</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_0" name="caen_board_24_channel_0" placeholder="{{ connections.caen_board_24_channel_0 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_1">Channel 1</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_1" name="caen_board_24_channel_1" placeholder="{{ connections.caen_board_24_channel_1 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_2">Channel 2</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_2" name="caen_board_24_channel_2" placeholder="{{ connections.caen_board_24_channel_2 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_3">Channel 3</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_3" name="caen_board_24_channel_3" placeholder="{{ connections.caen_board_24_channel_3 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_4">Channel 4</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_4" name="caen_board_24_channel_4" placeholder="{{ connections.caen_board_24_channel_4 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_5">Channel 5</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_5" name="caen_board_24_channel_5" placeholder="{{ connections.caen_board_24_channel_5 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_6">Channel 6</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_6" name="caen_board_24_channel_6" placeholder="{{ connections.caen_board_24_channel_6 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_7">Channel 7</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_7" name="caen_board_24_channel_7" placeholder="{{ connections.caen_board_24_channel_7 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_8">Channel 8</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_8" name="caen_board_24_channel_8" placeholder="{{ connections.caen_board_24_channel_8 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_9">Channel 9</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_9" name="caen_board_24_channel_9" placeholder="{{ connections.caen_board_24_channel_9 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_10">Channel 10</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_10" name="caen_board_24_channel_10" placeholder="{{ connections.caen_board_24_channel_10 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_11">Channel 11</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_11" name="caen_board_24_channel_11" placeholder="{{ connections.caen_board_24_channel_11 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_12">Channel 12</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_12" name="caen_board_24_channel_12" placeholder="{{ connections.caen_board_24_channel_12 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_13">Channel 13</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_13" name="caen_board_24_channel_13" placeholder="{{ connections.caen_board_24_channel_13 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_14">Channel 14</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_14" name="caen_board_24_channel_14" placeholder="{{ connections.caen_board_24_channel_14 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_15">Channel 15</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_15" name="caen_board_24_channel_15" placeholder="{{ connections.caen_board_24_channel_15 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_16">Channel 16</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_16" name="caen_board_24_channel_16" placeholder="{{ connections.caen_board_24_channel_16 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_17">Channel 17</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_17" name="caen_board_24_channel_17" placeholder="{{ connections.caen_board_24_channel_17 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_18">Channel 18</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_18" name="caen_board_24_channel_18" placeholder="{{ connections.caen_board_24_channel_18 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_19">Channel 19</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_19" name="caen_board_24_channel_19" placeholder="{{ connections.caen_board_24_channel_19 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_20">Channel 20</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_20" name="caen_board_24_channel_20" placeholder="{{ connections.caen_board_24_channel_20 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_21">Channel 21</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_21" name="caen_board_24_channel_21" placeholder="{{ connections.caen_board_24_channel_21 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_22">Channel 22</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_22" name="caen_board_24_channel_22" placeholder="{{ connections.caen_board_24_channel_22 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_23">Channel 23</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_23" name="caen_board_24_channel_23" placeholder="{{ connections.caen_board_24_channel_23 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_24">Channel 24</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_24" name="caen_board_24_channel_24" placeholder="{{ connections.caen_board_24_channel_24 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_25">Channel 25</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_25" name="caen_board_24_channel_25" placeholder="{{ connections.caen_board_24_channel_25 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_26">Channel 26</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_26" name="caen_board_24_channel_26" placeholder="{{ connections.caen_board_24_channel_26 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_27">Channel 27</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_27" name="caen_board_24_channel_27" placeholder="{{ connections.caen_board_24_channel_27 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_28">Channel 28</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_28" name="caen_board_24_channel_28" placeholder="{{ connections.caen_board_24_channel_28 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_29">Channel 29</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_29" name="caen_board_24_channel_29" placeholder="{{ connections.caen_board_24_channel_29 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_30">Channel 30</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_30" name="caen_board_24_channel_30" placeholder="{{ connections.caen_board_24_channel_30 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_31">Channel 31</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_31" name="caen_board_24_channel_31" placeholder="{{ connections.caen_board_24_channel_31 }}">
                </div>

              </div>

            </div>

            <div class="col-sm-6">

              <div class="form-group form-group-sm">

                <label class="col-sm-4 control-label" for="caen_board_24_channel_32">Channel 32</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_32" name="caen_board_24_channel_32" placeholder="{{ connections.caen_board_24_channel_32 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_33">Channel 33</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_33" name="caen_board_24_channel_33" placeholder="{{ connections.caen_board_24_channel_33 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_34">Channel 34</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_34" name="caen_board_24_channel_34" placeholder="{{ connections.caen_board_24_channel_34 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_35">Channel 35</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_35" name="caen_board_24_channel_35" placeholder="{{ connections.caen_board_24_channel_35 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_36">Channel 36</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_36" name="caen_board_24_channel_36" placeholder="{{ connections.caen_board_24_channel_36 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_37">Channel 37</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_37" name="caen_board_24_channel_37" placeholder="{{ connections.caen_board_24_channel_37 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_38">Channel 38</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_38" name="caen_board_24_channel_38" placeholder="{{ connections.caen_board_24_channel_38 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_39">Channel 39</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_39" name="caen_board_24_channel_39" placeholder="{{ connections.caen_board_24_channel_39 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_40">Channel 40</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_40" name="caen_board_24_channel_40" placeholder="{{ connections.caen_board_24_channel_40 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_41">Channel 41</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_41" name="caen_board_24_channel_41" placeholder="{{ connections.caen_board_24_channel_41 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_42">Channel 42</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_42" name="caen_board_24_channel_42" placeholder="{{ connections.caen_board_24_channel_42 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_43">Channel 43</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_43" name="caen_board_24_channel_43" placeholder="{{ connections.caen_board_24_channel_43 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_44">Channel 44</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_44" name="caen_board_24_channel_44" placeholder="{{ connections.caen_board_24_channel_44 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_45">Channel 45</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_45" name="caen_board_24_channel_45" placeholder="{{ connections.caen_board_24_channel_45 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_46">Channel 46</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_46" name="caen_board_24_channel_46" placeholder="{{ connections.caen_board_24_channel_46 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_47">Channel 47</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_47" name="caen_board_24_channel_47" placeholder="{{ connections.caen_board_24_channel_47 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_48">Channel 48</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_48" name="caen_board_24_channel_48" placeholder="{{ connections.caen_board_24_channel_48 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_49">Channel 49</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_49" name="caen_board_24_channel_49" placeholder="{{ connections.caen_board_24_channel_49 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_50">Channel 50</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_50" name="caen_board_24_channel_50" placeholder="{{ connections.caen_board_24_channel_50 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_51">Channel 51</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_51" name="caen_board_24_channel_51" placeholder="{{ connections.caen_board_24_channel_51 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_52">Channel 52</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_52" name="caen_board_24_channel_52" placeholder="{{ connections.caen_board_24_channel_52 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_53">Channel 53</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_53" name="caen_board_24_channel_53" placeholder="{{ connections.caen_board_24_channel_53 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_54">Channel 54</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_54" name="caen_board_24_channel_54" placeholder="{{ connections.caen_board_24_channel_54 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_55">Channel 55</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_55" name="caen_board_24_channel_55" placeholder="{{ connections.caen_board_24_channel_55 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_56">Channel 56</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_56" name="caen_board_24_channel_56" placeholder="{{ connections.caen_board_24_channel_56 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_57">Channel 57</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_57" name="caen_board_24_channel_57" placeholder="{{ connections.caen_board_24_channel_57 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_58">Channel 58</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_58" name="caen_board_24_channel_58" placeholder="{{ connections.caen_board_24_channel_58 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_59">Channel 59</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_59" name="caen_board_24_channel_59" placeholder="{{ connections.caen_board_24_channel_59 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_60">Channel 60</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_60" name="caen_board_24_channel_60" placeholder="{{ connections.caen_board_24_channel_60 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_61">Channel 61</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_61" name="caen_board_24_channel_61" placeholder="{{ connections.caen_board_24_channel_61 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_62">Channel 62</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_62" name="caen_board_24_channel_62" placeholder="{{ connections.caen_board_24_channel_62 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen_board_24_channel_63">Channel 63</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" id="caen_board_24_channel_63" name="caen_board_24_channel_63" placeholder="{{ connections.caen_board_24_channel_63 }}">
                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="container row">
          <div class="col-sm-10"></div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>

      </form>

      <link href="{{ url_for('static', filename='lib/datetimepicker/4.14.30/css/datetimepicker.min.css') }}" rel="stylesheet" type="text/css" media="screen"> <!-- this should go in the header -->
      <script src="{{ url_for('static', filename='lib/jquery/1.11.3/jquery-1.11.3.min.js') }}"></script>
      <script src="{{ url_for('static', filename='lib/bootstrap/3.3.5/js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='lib/moment/2.10.3/moment.min.js') }}"></script>
      <script src="{{ url_for('static', filename='lib/datetimepicker/4.14.30/js/datetimepicker.min.js') }}"></script>
      <script type="text/javascript">
        $(function () {
          $('#datetimepicker').datetimepicker();
        });
      </script>

