
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">CAEN board 7</h3>
        </div>

        <div class="panel-body row">

          <div class="col-sm-5">

            <dl class="dl-horizontal">
              <dt>Channel 32:</dt> <dd>{{ connections.caen_board_7_channel_32 }}</dd>
              <dt>Channel 33:</dt> <dd>{{ connections.caen_board_7_channel_33 }}</dd>
              <dt>Channel 34:</dt> <dd>{{ connections.caen_board_7_channel_34 }}</dd>
              <dt>Channel 35:</dt> <dd>{{ connections.caen_board_7_channel_35 }}</dd>
              <dt>Channel 36:</dt> <dd>{{ connections.caen_board_7_channel_36 }}</dd>
              <dt>Channel 37:</dt> <dd>{{ connections.caen_board_7_channel_37 }}</dd>
              <dt>Channel 38:</dt> <dd>{{ connections.caen_board_7_channel_38 }}</dd>
              <dt>Channel 39:</dt> <dd>{{ connections.caen_board_7_channel_39 }}</dd>
              <dt>Channel 40:</dt> <dd>{{ connections.caen_board_7_channel_40 }}</dd>
              <dt>Channel 41:</dt> <dd>{{ connections.caen_board_7_channel_41 }}</dd>
              <dt>Channel 42:</dt> <dd>{{ connections.caen_board_7_channel_42 }}</dd>
              <dt>Channel 43:</dt> <dd>{{ connections.caen_board_7_channel_43 }}</dd>
              <dt>Channel 44:</dt> <dd>{{ connections.caen_board_7_channel_44 }}</dd>
              <dt>Channel 45:</dt> <dd>{{ connections.caen_board_7_channel_45 }}</dd>
              <dt>Channel 46:</dt> <dd>{{ connections.caen_board_7_channel_46 }}</dd>
              <dt>Channel 47:</dt> <dd>{{ connections.caen_board_7_channel_47 }}</dd>
            </dl>

          </div>

          <div class="col-sm-5">

            <dl class="dl-horizontal">
              <dt>Channel 48:</dt> <dd>{{ connections.caen_board_7_channel_48 }}</dd>
              <dt>Channel 49:</dt> <dd>{{ connections.caen_board_7_channel_49 }}</dd>
              <dt>Channel 50:</dt> <dd>{{ connections.caen_board_7_channel_50 }}</dd>
              <dt>Channel 51:</dt> <dd>{{ connections.caen_board_7_channel_51 }}</dd>
              <dt>Channel 52:</dt> <dd>{{ connections.caen_board_7_channel_52 }}</dd>
              <dt>Channel 53:</dt> <dd>{{ connections.caen_board_7_channel_53 }}</dd>
              <dt>Channel 54:</dt> <dd>{{ connections.caen_board_7_channel_54 }}</dd>
              <dt>Channel 55:</dt> <dd>{{ connections.caen_board_7_channel_55 }}</dd>
              <dt>Channel 56:</dt> <dd>{{ connections.caen_board_7_channel_56 }}</dd>
              <dt>Channel 57:</dt> <dd>{{ connections.caen_board_7_channel_57 }}</dd>
              <dt>Channel 58:</dt> <dd>{{ connections.caen_board_7_channel_58 }}</dd>
              <dt>Channel 59:</dt> <dd>{{ connections.caen_board_7_channel_59 }}</dd>
              <dt>Channel 60:</dt> <dd>{{ connections.caen_board_7_channel_60 }}</dd>
              <dt>Channel 61:</dt> <dd>{{ connections.caen_board_7_channel_61 }}</dd>
              <dt>Channel 62:</dt> <dd>{{ connections.caen_board_7_channel_62 }}</dd>
              <dt>Channel 63:</dt> <dd>{{ connections.caen_board_7_channel_63 }}</dd>
            </dl>

          </div>

        </div>
      </div>

      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">CAEN board 8</h3>
        </div>

        <div class="panel-body row">

          <div class="col-sm-5">

            <dl class="dl-horizontal">
              <dt>Channel 0:</dt> <dd>{{ connections.caen_board_8_channel_0 }}</dd>
              <dt>Channel 1:</dt> <dd>{{ connections.caen_board_8_channel_1 }}</dd>
              <dt>Channel 2:</dt> <dd>{{ connections.caen_board_8_channel_2 }}</dd>
              <dt>Channel 3:</dt> <dd>{{ connections.caen_board_8_channel_3 }}</dd>
            </dl>

          </div>

          <div class="col-sm-5">

            <dl class="dl-horizontal">
              <dt>Channel 4:</dt> <dd>{{ connections.caen_board_8_channel_4 }}</dd>
              <dt>Channel 5:</dt> <dd>{{ connections.caen_board_8_channel_5 }}</dd>
              <dt>Channel 6:</dt> <dd>{{ connections.caen_board_8_channel_6 }}</dd>
              <dt>Channel 7:</dt> <dd>{{ connections.caen_board_8_channel_7 }}</dd>
            </dl>

          </div>

        </div>
      </div>

      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">CAEN board 9</h3>
        </div>

        <div class="panel-body row">

          <div class="col-sm-5">

            <dl class="dl-horizontal">
              <dt>Channel 0:</dt> <dd>{{ connections.caen_board_9_channel_0 }}</dd>
              <dt>Channel 1:</dt> <dd>{{ connections.caen_board_9_channel_1 }}</dd>
              <dt>Channel 2:</dt> <dd>{{ connections.caen_board_9_channel_2 }}</dd>
              <dt>Channel 3:</dt> <dd>{{ connections.caen_board_9_channel_3 }}</dd>
            </dl>

          </div>

          <div class="col-sm-5">

            <dl class="dl-horizontal">
              <dt>Channel 4:</dt> <dd>{{ connections.caen_board_9_channel_4 }}</dd>
              <dt>Channel 5:</dt> <dd>{{ connections.caen_board_9_channel_5 }}</dd>
              <dt>Channel 6:</dt> <dd>{{ connections.caen_board_9_channel_6 }}</dd>
              <dt>Channel 7:</dt> <dd>{{ connections.caen_board_9_channel_7 }}</dd>
            </dl>

          </div>

        </div>
      </div>

      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">CAEN board 24</h3>
        </div>

        <div class="panel-body row">

          <div class="col-sm-5">

            <dl class="dl-horizontal">
              <dt>Channel 0:</dt> <dd>{{ connections.caen_board_24_channel_0 }}</dd>
              <dt>Channel 1:</dt> <dd>{{ connections.caen_board_24_channel_1 }}</dd>
              <dt>Channel 2:</dt> <dd>{{ connections.caen_board_24_channel_2 }}</dd>
              <dt>Channel 3:</dt> <dd>{{ connections.caen_board_24_channel_3 }}</dd>
              <dt>Channel 4:</dt> <dd>{{ connections.caen_board_24_channel_4 }}</dd>
              <dt>Channel 5:</dt> <dd>{{ connections.caen_board_24_channel_5 }}</dd>
              <dt>Channel 6:</dt> <dd>{{ connections.caen_board_24_channel_6 }}</dd>
              <dt>Channel 7:</dt> <dd>{{ connections.caen_board_24_channel_7 }}</dd>
              <dt>Channel 8:</dt> <dd>{{ connections.caen_board_24_channel_8 }}</dd>
              <dt>Channel 9:</dt> <dd>{{ connections.caen_board_24_channel_9 }}</dd>
              <dt>Channel 10:</dt> <dd>{{ connections.caen_board_24_channel_10 }}</dd>
              <dt>Channel 11:</dt> <dd>{{ connections.caen_board_24_channel_11 }}</dd>
              <dt>Channel 12:</dt> <dd>{{ connections.caen_board_24_channel_12 }}</dd>
              <dt>Channel 13:</dt> <dd>{{ connections.caen_board_24_channel_13 }}</dd>
              <dt>Channel 14:</dt> <dd>{{ connections.caen_board_24_channel_14 }}</dd>
              <dt>Channel 15:</dt> <dd>{{ connections.caen_board_24_channel_15 }}</dd>
              <dt>Channel 16:</dt> <dd>{{ connections.caen_board_24_channel_16 }}</dd>
              <dt>Channel 17:</dt> <dd>{{ connections.caen_board_24_channel_17 }}</dd>
              <dt>Channel 18:</dt> <dd>{{ connections.caen_board_24_channel_18 }}</dd>
              <dt>Channel 19:</dt> <dd>{{ connections.caen_board_24_channel_19 }}</dd>
              <dt>Channel 20:</dt> <dd>{{ connections.caen_board_24_channel_20 }}</dd>
              <dt>Channel 21:</dt> <dd>{{ connections.caen_board_24_channel_21 }}</dd>
              <dt>Channel 22:</dt> <dd>{{ connections.caen_board_24_channel_22 }}</dd>
              <dt>Channel 23:</dt> <dd>{{ connections.caen_board_24_channel_23 }}</dd>
              <dt>Channel 24:</dt> <dd>{{ connections.caen_board_24_channel_24 }}</dd>
              <dt>Channel 25:</dt> <dd>{{ connections.caen_board_24_channel_25 }}</dd>
              <dt>Channel 26:</dt> <dd>{{ connections.caen_board_24_channel_26 }}</dd>
              <dt>Channel 27:</dt> <dd>{{ connections.caen_board_24_channel_27 }}</dd>
              <dt>Channel 28:</dt> <dd>{{ connections.caen_board_24_channel_28 }}</dd>
              <dt>Channel 29:</dt> <dd>{{ connections.caen_board_24_channel_29 }}</dd>
              <dt>Channel 30:</dt> <dd>{{ connections.caen_board_24_channel_30 }}</dd>
              <dt>Channel 31:</dt> <dd>{{ connections.caen_board_24_channel_31 }}</dd>
            </dl>

          </div>

          <div class="col-sm-5">

            <dl class="dl-horizontal">
              <dt>Channel 32:</dt> <dd>{{ connections.caen_board_24_channel_32 }}</dd>
              <dt>Channel 33:</dt> <dd>{{ connections.caen_board_24_channel_33 }}</dd>
              <dt>Channel 34:</dt> <dd>{{ connections.caen_board_24_channel_34 }}</dd>
              <dt>Channel 35:</dt> <dd>{{ connections.caen_board_24_channel_35 }}</dd>
              <dt>Channel 36:</dt> <dd>{{ connections.caen_board_24_channel_36 }}</dd>
              <dt>Channel 37:</dt> <dd>{{ connections.caen_board_24_channel_37 }}</dd>
              <dt>Channel 38:</dt> <dd>{{ connections.caen_board_24_channel_38 }}</dd>
              <dt>Channel 39:</dt> <dd>{{ connections.caen_board_24_channel_39 }}</dd>
              <dt>Channel 40:</dt> <dd>{{ connections.caen_board_24_channel_40 }}</dd>
              <dt>Channel 41:</dt> <dd>{{ connections.caen_board_24_channel_41 }}</dd>
              <dt>Channel 42:</dt> <dd>{{ connections.caen_board_24_channel_42 }}</dd>
              <dt>Channel 43:</dt> <dd>{{ connections.caen_board_24_channel_43 }}</dd>
              <dt>Channel 44:</dt> <dd>{{ connections.caen_board_24_channel_44 }}</dd>
              <dt>Channel 45:</dt> <dd>{{ connections.caen_board_24_channel_45 }}</dd>
              <dt>Channel 46:</dt> <dd>{{ connections.caen_board_24_channel_46 }}</dd>
              <dt>Channel 47:</dt> <dd>{{ connections.caen_board_24_channel_47 }}</dd>
              <dt>Channel 48:</dt> <dd>{{ connections.caen_board_24_channel_48 }}</dd>
              <dt>Channel 49:</dt> <dd>{{ connections.caen_board_24_channel_49 }}</dd>
              <dt>Channel 50:</dt> <dd>{{ connections.caen_board_24_channel_50 }}</dd>
              <dt>Channel 51:</dt> <dd>{{ connections.caen_board_24_channel_51 }}</dd>
              <dt>Channel 52:</dt> <dd>{{ connections.caen_board_24_channel_52 }}</dd>
              <dt>Channel 53:</dt> <dd>{{ connections.caen_board_24_channel_53 }}</dd>
              <dt>Channel 54:</dt> <dd>{{ connections.caen_board_24_channel_54 }}</dd>
              <dt>Channel 55:</dt> <dd>{{ connections.caen_board_24_channel_55 }}</dd>
              <dt>Channel 56:</dt> <dd>{{ connections.caen_board_24_channel_56 }}</dd>
              <dt>Channel 57:</dt> <dd>{{ connections.caen_board_24_channel_57 }}</dd>
              <dt>Channel 58:</dt> <dd>{{ connections.caen_board_24_channel_58 }}</dd>
              <dt>Channel 59:</dt> <dd>{{ connections.caen_board_24_channel_59 }}</dd>
              <dt>Channel 60:</dt> <dd>{{ connections.caen_board_24_channel_60 }}</dd>
              <dt>Channel 61:</dt> <dd>{{ connections.caen_board_24_channel_61 }}</dd>
              <dt>Channel 62:</dt> <dd>{{ connections.caen_board_24_channel_62 }}</dd>
              <dt>Channel 63:</dt> <dd>{{ connections.caen_board_24_channel_63 }}</dd>
            </dl>

          </div>

        </div>
      </div>

