
      <form role="form" method="POST" action="{{ url_for('submit_config') }}">

        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title">CAEN board 7</h3>
          </div>

          <div class="panel-body row">

            <div class="col-sm-6">

              <div class="form-group form-group-sm">

                <label class="col-sm-4 control-label" for="caen-board-7-channel-32">Channel 32</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-32" placeholder="{{ connections.caen_board_7_channel_32 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-33">Channel 33</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-33" placeholder="{{ connections.caen_board_7_channel_33 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-34">Channel 34</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-34" placeholder="{{ connections.caen_board_7_channel_34 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-35">Channel 35</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-35" placeholder="{{ connections.caen_board_7_channel_35 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-36">Channel 36</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-36" placeholder="{{ connections.caen_board_7_channel_36 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-37">Channel 37</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-37" placeholder="{{ connections.caen_board_7_channel_37 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-38">Channel 38</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-38" placeholder="{{ connections.caen_board_7_channel_38 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-39">Channel 39</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-39" placeholder="{{ connections.caen_board_7_channel_39 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-40">Channel 40</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-40" placeholder="{{ connections.caen_board_7_channel_40 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-41">Channel 41</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-41" placeholder="{{ connections.caen_board_7_channel_41 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-42">Channel 42</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-42" placeholder="{{ connections.caen_board_7_channel_42 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-43">Channel 43</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-43" placeholder="{{ connections.caen_board_7_channel_43 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-44">Channel 44</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-44" placeholder="{{ connections.caen_board_7_channel_44 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-45">Channel 45</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-45" placeholder="{{ connections.caen_board_7_channel_45 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-46">Channel 46</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-46" placeholder="{{ connections.caen_board_7_channel_46 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-47">Channel 47</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-47" placeholder="{{ connections.caen_board_7_channel_47 }}">
                </div>

              </div>

            </div>

            <div class="col-sm-6">

              <div class="form-group form-group-sm">

                <label class="col-sm-4 control-label" for="caen-board-7-channel-48">Channel 48</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-48" placeholder="{{ connections.caen_board_7_channel_48 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-49">Channel 49</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-49" placeholder="{{ connections.caen_board_7_channel_49 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-50">Channel 50</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-50" placeholder="{{ connections.caen_board_7_channel_50 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-51">Channel 51</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-51" placeholder="{{ connections.caen_board_7_channel_51 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-52">Channel 52</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-52" placeholder="{{ connections.caen_board_7_channel_52 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-53">Channel 53</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-53" placeholder="{{ connections.caen_board_7_channel_53 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-54">Channel 54</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-54" placeholder="{{ connections.caen_board_7_channel_54 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-55">Channel 55</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-55" placeholder="{{ connections.caen_board_7_channel_55 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-56">Channel 56</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-56" placeholder="{{ connections.caen_board_7_channel_56 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-57">Channel 57</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-57" placeholder="{{ connections.caen_board_7_channel_57 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-58">Channel 58</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-58" placeholder="{{ connections.caen_board_7_channel_58 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-59">Channel 59</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-59" placeholder="{{ connections.caen_board_7_channel_59 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-60">Channel 60</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-60" placeholder="{{ connections.caen_board_7_channel_60 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-61">Channel 61</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-61" placeholder="{{ connections.caen_board_7_channel_61 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-62">Channel 62</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-62" placeholder="{{ connections.caen_board_7_channel_62 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-7-channel-63">Channel 63</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-7-channel-63" placeholder="{{ connections.caen_board_7_channel_63 }}">
                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title">CAEN board 8</h3>
          </div>

          <div class="panel-body row">

            <div class="col-sm-6">

              <div class="form-group form-group-sm">

                <label class="col-sm-4 control-label" for="caen-board-8-channel-0">Channel 0</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-8-channel-0" placeholder="{{ connections.caen_board_8_channel_0 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-8-channel-1">Channel 1</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-8-channel-1" placeholder="{{ connections.caen_board_8_channel_1 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-8-channel-2">Channel 2</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-8-channel-2" placeholder="{{ connections.caen_board_8_channel_2 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-8-channel-3">Channel 3</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-8-channel-3" placeholder="{{ connections.caen_board_8_channel_3 }}">
                </div>

              </div>

            </div>

            <div class="col-sm-6">

              <div class="form-group form-group-sm">

                <label class="col-sm-4 control-label" for="caen-board-8-channel-4">Channel 4</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-8-channel-4" placeholder="{{ connections.caen_board_8_channel_4 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-8-channel-5">Channel 5</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-8-channel-5" placeholder="{{ connections.caen_board_8_channel_5 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-8-channel-6">Channel 6</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-8-channel-6" placeholder="{{ connections.caen_board_8_channel_6 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-8-channel-7">Channel 7</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-8-channel-7" placeholder="{{ connections.caen_board_8_channel_7 }}">
                </div>

              </div>

            </div>

          </div>
        </div>

        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title">CAEN board 9</h3>
          </div>

          <div class="panel-body row">

            <div class="col-sm-6">

              <div class="form-group form-group-sm">

                <label class="col-sm-4 control-label" for="caen-board-9-channel-0">Channel 0</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-9-channel-0" placeholder="{{ connections.caen_board_9_channel_0 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-9-channel-1">Channel 1</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-9-channel-1" placeholder="{{ connections.caen_board_9_channel_1 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-9-channel-2">Channel 2</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-9-channel-2" placeholder="{{ connections.caen_board_9_channel_2 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-9-channel-3">Channel 3</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-9-channel-3" placeholder="{{ connections.caen_board_9_channel_3 }}">
                </div>

              </div>

            </div>

            <div class="col-sm-6">

              <div class="form-group form-group-sm">

                <label class="col-sm-4 control-label" for="caen-board-9-channel-4">Channel 4</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-9-channel-4" placeholder="{{ connections.caen_board_9_channel_4 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-9-channel-5">Channel 5</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-9-channel-5" placeholder="{{ connections.caen_board_9_channel_5 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-9-channel-6">Channel 6</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-9-channel-6" placeholder="{{ connections.caen_board_9_channel_6 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-9-channel-7">Channel 7</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-9-channel-7" placeholder="{{ connections.caen_board_9_channel_7 }}">
                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title">CAEN board 24</h3>
          </div>

          <div class="panel-body row">

            <div class="col-sm-6">

              <div class="form-group form-group-sm">

                <label class="col-sm-4 control-label" for="caen-board-24-channel-0">Channel 0</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-0" placeholder="{{ connections.caen_board_24_channel_0 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-1">Channel 1</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-1" placeholder="{{ connections.caen_board_24_channel_1 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-2">Channel 2</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-2" placeholder="{{ connections.caen_board_24_channel_2 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-3">Channel 3</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-3" placeholder="{{ connections.caen_board_24_channel_3 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-4">Channel 4</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-4" placeholder="{{ connections.caen_board_24_channel_4 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-5">Channel 5</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-5" placeholder="{{ connections.caen_board_24_channel_5 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-6">Channel 6</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-6" placeholder="{{ connections.caen_board_24_channel_6 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-7">Channel 7</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-7" placeholder="{{ connections.caen_board_24_channel_7 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-8">Channel 8</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-8" placeholder="{{ connections.caen_board_24_channel_8 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-9">Channel 9</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-9" placeholder="{{ connections.caen_board_24_channel_9 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-10">Channel 10</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-10" placeholder="{{ connections.caen_board_24_channel_10 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-11">Channel 11</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-11" placeholder="{{ connections.caen_board_24_channel_11 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-12">Channel 12</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-12" placeholder="{{ connections.caen_board_24_channel_12 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-13">Channel 13</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-13" placeholder="{{ connections.caen_board_24_channel_13 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-14">Channel 14</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-14" placeholder="{{ connections.caen_board_24_channel_14 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-15">Channel 15</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-15" placeholder="{{ connections.caen_board_24_channel_15 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-16">Channel 16</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-16" placeholder="{{ connections.caen_board_24_channel_16 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-17">Channel 17</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-17" placeholder="{{ connections.caen_board_24_channel_17 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-18">Channel 18</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-18" placeholder="{{ connections.caen_board_24_channel_18 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-19">Channel 19</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-19" placeholder="{{ connections.caen_board_24_channel_19 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-20">Channel 20</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-20" placeholder="{{ connections.caen_board_24_channel_20 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-21">Channel 21</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-21" placeholder="{{ connections.caen_board_24_channel_21 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-22">Channel 22</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-22" placeholder="{{ connections.caen_board_24_channel_22 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-23">Channel 23</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-23" placeholder="{{ connections.caen_board_24_channel_23 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-24">Channel 24</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-24" placeholder="{{ connections.caen_board_24_channel_24 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-25">Channel 25</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-25" placeholder="{{ connections.caen_board_24_channel_25 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-26">Channel 26</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-26" placeholder="{{ connections.caen_board_24_channel_26 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-27">Channel 27</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-27" placeholder="{{ connections.caen_board_24_channel_27 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-28">Channel 28</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-28" placeholder="{{ connections.caen_board_24_channel_28 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-29">Channel 29</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-29" placeholder="{{ connections.caen_board_24_channel_29 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-30">Channel 30</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-30" placeholder="{{ connections.caen_board_24_channel_30 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-31">Channel 31</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-31" placeholder="{{ connections.caen_board_24_channel_31 }}">
                </div>

              </div>

            </div>

            <div class="col-sm-6">

              <div class="form-group form-group-sm">

                <label class="col-sm-4 control-label" for="caen-board-24-channel-32">Channel 32</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-32" placeholder="{{ connections.caen_board_24_channel_32 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-33">Channel 33</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-33" placeholder="{{ connections.caen_board_24_channel_33 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-34">Channel 34</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-34" placeholder="{{ connections.caen_board_24_channel_34 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-35">Channel 35</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-35" placeholder="{{ connections.caen_board_24_channel_35 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-36">Channel 36</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-36" placeholder="{{ connections.caen_board_24_channel_36 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-37">Channel 37</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-37" placeholder="{{ connections.caen_board_24_channel_37 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-38">Channel 38</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-38" placeholder="{{ connections.caen_board_24_channel_38 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-39">Channel 39</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-39" placeholder="{{ connections.caen_board_24_channel_39 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-40">Channel 40</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-40" placeholder="{{ connections.caen_board_24_channel_40 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-41">Channel 41</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-41" placeholder="{{ connections.caen_board_24_channel_41 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-42">Channel 42</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-42" placeholder="{{ connections.caen_board_24_channel_42 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-43">Channel 43</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-43" placeholder="{{ connections.caen_board_24_channel_43 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-44">Channel 44</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-44" placeholder="{{ connections.caen_board_24_channel_44 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-45">Channel 45</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-45" placeholder="{{ connections.caen_board_24_channel_45 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-46">Channel 46</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-46" placeholder="{{ connections.caen_board_24_channel_46 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-47">Channel 47</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-47" placeholder="{{ connections.caen_board_24_channel_47 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-48">Channel 48</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-48" placeholder="{{ connections.caen_board_24_channel_48 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-49">Channel 49</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-49" placeholder="{{ connections.caen_board_24_channel_49 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-50">Channel 50</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-50" placeholder="{{ connections.caen_board_24_channel_50 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-51">Channel 51</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-51" placeholder="{{ connections.caen_board_24_channel_51 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-52">Channel 52</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-52" placeholder="{{ connections.caen_board_24_channel_52 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-53">Channel 53</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-53" placeholder="{{ connections.caen_board_24_channel_53 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-54">Channel 54</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-54" placeholder="{{ connections.caen_board_24_channel_54 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-55">Channel 55</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-55" placeholder="{{ connections.caen_board_24_channel_55 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-56">Channel 56</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-56" placeholder="{{ connections.caen_board_24_channel_56 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-57">Channel 57</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-57" placeholder="{{ connections.caen_board_24_channel_57 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-58">Channel 58</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-58" placeholder="{{ connections.caen_board_24_channel_58 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-59">Channel 59</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-59" placeholder="{{ connections.caen_board_24_channel_59 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-60">Channel 60</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-60" placeholder="{{ connections.caen_board_24_channel_60 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-61">Channel 61</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-61" placeholder="{{ connections.caen_board_24_channel_61 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-62">Channel 62</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-62" placeholder="{{ connections.caen_board_24_channel_62 }}">
                </div>

                <label class="col-sm-4 control-label" for="caen-board-24-channel-63">Channel 63</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="caen-board-24-channel-63" placeholder="{{ connections.caen_board_24_channel_63 }}">
                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="row">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>

      </form>
