{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}

      <div class="jumbotron">
        <h2>LArIAT hardware connections database</h2>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Current configuration</a></p> -->
      </div>

      <div class="page-header">
        <h1>Current configuration <small>as of {{ connections.date_time}}</small></h1>
      </div>

      {% include 'connections.html' %}

{% endblock %}
